.dashboard {
  display: flex;
  justify-content: space-around;
}

.dashboard-element {
padding: 10px;
margin: 10px;


}

.dashboard-title {
  padding: 10px 20px;
}

.dashboard-list {
  list-style: none;

}

.dashboard-list-element {


}

.dashboard-header {
  display: flex;
}


