.dashboard {
  padding: 100px 5%;
  background: rgb(42,57,80);
  background: linear-gradient(-45deg, rgba(42,57,80,1) 0%, rgba(151,64,99,1) 100%);
  min-height: 100vh;

.dashboard-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

}
.db-button-wrap {
    display: flex;
    align-items: center;
}

.dashboard-element {
  width: 47%;
  padding: 1rem;
  background-color: white;
  border-radius: 30px;

  h2 {
    margin: 1rem 0rem 2rem 0rem;
  }
}


.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0rem 1rem;
}


.dashboard-list {
  list-style: none;
  padding: 0rem 1rem;
}

.dashboard-list li {
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.db-image {
  height: 100%;
  width: 20%;
  object-fit: cover;
}



.db-card-details {
  display: flex;
}

.db-el-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;



  p {
    margin-right: 12px;
  }

  a {
    color: $tool-dark;
    text-decoration: none;
  }


}

.dashboard-title {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

  h1 {
    color: white;
  }
}

