<footer class="footer-wrap">
  <div class="container">

    <div class="footer-content">

      <div class="footer-child">
        <%= image_tag 'logo.svg', class:"footer-logo" %>
      </div>
        <div class="footer-child">
        <span>About</span>
        <p>Diversity & Belonging</p>
        <p>Accessibility</p>
        <p>Trust & Safety</p>
        <p>Newsroom</p>
      </div>
      <div class="footer-child">
        <span>Community</span>
        <p>Invite friends</p>
        <p>Gift cards</p>
        <p>Careers</p>
      </div>
      <div class="footer-child">
        <span>Support</span>
        <p>Help Center</p>
        <p>Neighborhood Support</p>
      </div>
    </div>

  </div>
</footer>
