<div class="shop-card">
  <div class="title">
    Drill
  </div>
  <div class="desc">
    description
  </div>
      <img src="https://www.felleskjopet.no/remote/bilder.felleskjopet.no/medias/sys_master/DefaultCelumAssetsFolder/celum_assets/h35/hfb/9191088750622/900020602321500-40318.jpg?scale=canvas" />
  <div class="cta">
    <div class="price">6000 Nok</div>
    <div class="discount">20% off</div>
  </div>
</div>
