


<div class='dashboard'>


  <% if current_user %>
  <div class='dashboard_element'>
      <div class='dashboard-title'>
        <h1>My Tools</h1>
      </div>
      <ul class='dashboard-list'>

        <% current_user.items.each do |item| %>
          <li><%= item.name %> </li>
        <% end %>
      </ul>
  </div>
    <div class='dashboard_element'>
      <div class='dashboard-title'>
         <h1>Tools I am renting</h1>
      </div>
      <ul class='dashboard-list'>
        <%  current_user.rentals.each do |rental| %>
          <li>
             <%= rental.item.name %>
          </li>
        <% end %>
      </ul>
    </div>
   <% else %>
   <div class ="dashboard_element">
      <p>Log in to see your Dashboard</p>
    <% end  %>
   </div>

</div>








