
<% if current_user %>
<h1>My Tools</h1>

<% current_user.items.each do |item| %>
<p><%= item.name %> </p>
<% end %>

<h1>Tools I am renting</h1>
<%  current_user.rentals.each do |item| %>
<%= item.name %>
<% end%>

<% else %>
<p>Log in to see your Dashboard</p>
<% end  %>





