<div class="form-background">

  <div class="container-lg">
    <div class="row d-flex justify-content-center">
      <div class="col-6 form-wrap">

        <h1>Edit Item</h1>

        <% if current_user == @item.user %>
          <%= render 'form', item: @item %>
        <% else %>
          <h1>You do not own this tool</h1>
        <% end %>

      </div>
    </div>
  </div>

</div>
