<div class="form-background">

  <div class="container-lg">
    <div class="row d-flex justify-content-center">
      <div class="col-6 pt-5">

        <h1>Add a tool to rent</h1>

        <%= render 'form', item: @item %>

        <div class="form-back">
          <%= link_to "Back to Tools List", items_path  %>
        </div>


      </div>
    </div>
  </div>

</div>
