.rent-button {
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  background-color: $tool-red;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  transition: color 1s ease;
  transition: background-color 1s ease;
}

.rent-button:hover {
  background-color: white;
  color: $tool-red;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  }

.button-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;

  i {
    color: $tool-red;
  }
}

.button-icon:hover {
  background-color: $tool-red;

  i {
    color: white;
  }
}

#form-control.email {
  font-size: 1rem;
}


.form-button {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 800;
  font-size: 14px;
  color: white;
  padding: 15px 25px;
  background-color: $tool-red;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  transition: 1s ease;
}

.rent-button:hover {
  background-color: white;
  color: $tool-red;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  }

  .rent-form-button {
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  background-color: $tool-red;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  transition: 1s ease;
  width: 100%;
  border: none;
}

.rent-form-button:hover {
  background-color: white;
  color: $tool-red;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  }
