.card-product {
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 140px;
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  overflow: hidden;
  a {
    transition: 0.3s ease;
    text-decoration: none;
    color: $tool-dark;
  }

  a:hover {
    color: $tool-red;
  }
  .card-product-infos {
    width: 100%;
    span {
      font-size: 18px;
    }
  }

  .rent-button {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    // font-weight: 800;
    // font-size: 0.8rem;
    color: white;
    padding: 10px 15px;
    // background-color: $tool-red;
    // border-radius: 30px;
    // box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
  }

  .rent-button:hover {
    background-color: white;
    color: $tool-red;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
}

.card-image {
  min-height: 100%;
  max-height: 100%;
  width: 25%;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product h5 {
  font-weight: bold;
  margin: 5px 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.product-cards {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card-product .card-product-infos {
  padding: 16px;
}


