.success-page-wrap {
  height: 100vh;
  width: 100%;
  background: rgb(42,57,80);
  background: linear-gradient(-45deg, rgba(42,57,80,1) 0%, rgba(151,64,99,1) 100%);  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-bottom: 20px;
    color: $tool-red;
  }

  h5 {
    font-family: 'Moderat-Light';
    margin-bottom: 30px;
    line-height: 2rem;

    span {
      font-family: 'Moderat-Bold';
    }
  }
}

.success-pop {
  background-color: white;
  padding: 60px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.success-symbol {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.button-wrap-success {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  p {
    padding: 0px 10px;
  }
}

.success-pad {
  padding: 0px 10px;
}
